/** Buttons */
// Button color should be our button orange.
.btn-primary {
    @include button-variant($button-bg-orange, darken($button-bg-orange, 7.5%), darken($button-bg-orange, 10%), lighten($button-bg-orange,5%), lighten($button-bg-orange, 10%), darken($button-bg-orange,30%));
}

.btn-outline-primary {
    @include button-outline-variant($button-bg-orange, #222222, lighten($button-bg-orange,5%), $button-bg-orange);
}
.btn-secondary {
    @include button-variant($button-bg-orange, darken($button-bg-orange, 7.5%), darken($button-bg-orange, 10%), lighten($button-bg-orange,5%), lighten($button-bg-orange, 10%), darken($button-bg-orange,30%));
}

.btn-outline-secondary {
    @include button-outline-variant($button-bg-orange, #222222, lighten($button-bg-orange,5%), $button-bg-orange);
}

// Button primary and secondary text should always be white.
// Sometimes it was showing up as the secondary color.
.btn-primary, .btn-secondary {
    color: $white !important;
}

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-base: "Open Sans", $font-family-sans-serif !default;
$font-family-header: "Raleway", $font-family-sans-serif;
$font-family-buttons: "Comfortaa", $font-family-sans-serif;

body {
    -webkit-font-smoothing: antialiased;
}

h6 { font-family: $font-family-header;
}

h5 { font-family: $font-family-header;
}

h4 { font-family: $font-family-header;
}

h3 { font-family: $font-family-header;
}

h2 { font-family: $font-family-header;
}

h1 { font-family: $font-family-header;
}

.btn {
    font-family: $font-family-buttons;
}

/** Footer */
#page-footer a {
    text-decoration: none;
}

#page-footer .footer-logo .icon {
    width: auto;
    height: 30px;
}

#page-footer .nav-link {
    padding: 0;
    margin-right: .5rem;
}

#footer-logo-share-bottom .footer-logo .icon {
    width: auto;
    height: 40px;
}

#footer-links h4 {
    margin: 0;
}

#footer-ccby-logo .icon {
    width: 80px;
    height: auto;
}