/** Nav Bar */
.navbar {
    box-shadow: 0 3px 0 $primary;
}

#navbar-login {
    box-shadow: 0 0;
    margin-bottom: 1rem;
}

.navbar .btn {
    background-color: $gray-200;
    border-color: $gray-200;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar .btn-secondary:not(.disabled):active:focus{
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar .nav-link .fa-bars {
    color: $dark;
}

// Change height, margin and padding of navbar logo.
.navbar-brand .logo .icon {
    height: auto;
    width: 100%;
    max-width: 206px;
    max-height: 45px;
}

.navbar-brand .logo {
    height: $navbar-height;
    width: 100%;
}

#navbar-brand {
    height: $navbar-height;
    max-width: 206px;
    width: 100%;
    padding-right: 4px;
}

.navbar-nav li.usermenu {
    line-height: 1;
    margin-right: -.5rem;
}

.navbar-nav .usermenu .login {
    line-height: 1rem;
    font-size: 1.2rem;
}

/** Buttons */
// Button color should be our button orange.
.btn-primary {
    @include button-variant($button-bg-orange, darken($button-bg-orange, 7.5%), darken($button-bg-orange, 10%), lighten($button-bg-orange,5%), lighten($button-bg-orange, 10%), darken($button-bg-orange,30%));
}

.btn-outline-primary {
    @include button-outline-variant($button-bg-orange, #222222, lighten($button-bg-orange,5%), $button-bg-orange);
}
.btn-secondary {
    @include button-variant($button-bg-orange, darken($button-bg-orange, 7.5%), darken($button-bg-orange, 10%), lighten($button-bg-orange,5%), lighten($button-bg-orange, 10%), darken($button-bg-orange,30%));
}

.btn-outline-secondary {
    @include button-outline-variant($button-bg-orange, #222222, lighten($button-bg-orange,5%), $button-bg-orange);
}

// Button primary and secondary text should always be white.
// Sometimes it was showing up as the secondary color.
.btn-primary, .btn-secondary {
    color: $white !important;
}

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-base: "Open Sans", $font-family-sans-serif !default;
$font-family-header: "Raleway", $font-family-sans-serif;
$font-family-buttons: "Comfortaa", $font-family-sans-serif;

body {
    -webkit-font-smoothing: antialiased;
}

h6 { font-family: $font-family-header;
}

h5 { font-family: $font-family-header;
}

h4 { font-family: $font-family-header;
}

h3 { font-family: $font-family-header;
}

h2 { font-family: $font-family-header;
}

h1 { font-family: $font-family-header;
}

.btn {
    font-family: $font-family-buttons;
}

// Contact form submit button.
.contact-form>p>.wpcf7-submit {
    color: #fff;
    background-color: #f16505;
    border-color: #cc5504;
    max-width: 125px;
}
.contact-form>p>.wpcf7-submit[disabled], .wpcf7-submit.disabled {
    background: $button-bg-orange;
}
.contact-form>p>.wpcf7-submit:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(204,85,4,.5);
    box-shadow: 0 0 0 .2rem rgba(204,85,4,.5);
}
.contact-form>p>.wpcf7-submit:not(:disabled):not(.disabled):active {
    color: #212529;
    background-color: #fb812e;
    border-color: #5b2602;
    background-image: none;
}
.contact-form>p>.wpcf7-submit:hover {
    color: #fff;
    background-color: #bf5004;
    border-color: #fa7215;
}
.contact-form>p>.wpcf7-submit:focus, .wpcf7-submit.focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(204,85,4,.5);
    box-shadow: 0 0 0 .2rem rgba(204,85,4,.5);
}

/** Footer */
#page-footer a {
    text-decoration: none;
}

#page-footer .footer-logo .icon {
    width: auto;
    height: 30px;
}

#page-footer .nav-link {
    padding: 0;
    margin-right: .5rem;
}

#footer-logo-share-bottom .footer-logo .icon {
    width: auto;
    height: 40px;
}

#footer-links h4 {
    margin: 0;
}

#footer-ccby-logo .icon {
    width: 80px;
    height: auto;
}

/** Nav Drawer */
#nav-drawer li:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

#nav-drawer li:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

#nav-drawer li {
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    width: 100%;
    color: #212121;
    text-align: inherit;
}

#nav-drawer a {
    padding: .75rem 1.25rem;
    width: 100%;
}
#nav-drawer .dropdown-toggle::after {
    display: none;
}

#nav-drawer .dropdown-toggle > div::after {
    content: "\f0d7";
    font-family: FontAwesome;
    font-weight: 900;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

#nav-drawer .nav-item.show > .dropdown-menu {
    display: block;
}

#nav-drawer .nav-item:not(.show) > .dropdown-menu {
    display: none;
}

#nav-drawer .dropdown-menu {
    display: none;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 0;
    display: block;
    top: 0;
    border-right: 1px solid rgba(0,0,0,.125);
    border-left: 1px solid rgba(0,0,0,.125);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

#nav-drawer .dropdown-menu li {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

/** Hero Image */
@media only screen and (max-width: 768px) {
    #hero-container {
        box-shadow:inset 0 0 0 100vw $primary-dark-blue;
    }
}

.wrapper {
    min-height: 100vh;
}